body {
	color: #665544;
	font-family: Helvetica;
	background-color: #d4d0c6;
	background-image: url('../images/backdrop.gif');
	max-width: 50em;
	min-width: 20em;
	margin: 0 auto;
}
#page img {
	margin: 10px;
	margin-left: 30px;
	margin-bottom: 2em;
	display: block;
	background-color: #e7e3d8;
	padding: 10px;
	width: 200px;
	height: 200px;
	border: 1px solid #d6d6d6;
	float: left;
}
input {
	margin-left: 0 auto;
	max-width: 50%;
	font-size: 120%;
	border: inherit;
	padding: 5px;
	margin-bottom: 1em;
	text-align: left;
	margin-bottom: 30px;
}
input:focus {
	outline: none;
}
a {
	text-decoration: none;
}
button {
	background-color: #ccc;
	border: none;
	padding: 10px 20px;
	font-size: 100%;
}

button:hover, button.active {
	background-color: #666666;
	color: white;
	cursor: pointer;
	outline: none;
}
h1 {
	padding: 1em 0;
}
#page, h1 {
	text-align: center;
	max-width: 1020px;
	margin: 0 auto;
}

.modal {
  position: absolute;
  z-index: 1000;
  padding: 30px;
  background-color: #555;
}

#copyright {
  margin: 17em auto 0 auto;
  width: 30px;
}

#copyright-options {
  background-color: #fff;
  text-align: center;
  clear: both;
  padding: 15px;
  border: 10px solid #999;
  }

  button.modal-close {
  border: none;
  background-color: #999;
  padding: 10px;
  margin: 10px 0 0 0;
  float: right;
  text-transform: uppercase;
}